@use '../base/variables' as v;
@use '../base/mixins' as m;

.m-btns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  row-gap: 13px;

  @include m.media('lg') {
    gap: 13px;
  }

  // ========== btn ==========
  &__btn {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    border: 0 solid v.$color-mint-green;
    color: v.$color-mint-green;
    background-color: v.$color-feldgrau-35;
    transition: border 50ms 100ms;

    // ========== order btns ==========
    &:nth-child(18) {
      order: 18;
    }
    &:nth-child(17) {
      order: 17;
    }
    &:nth-child(11) {
      order: 20;
    }
    &:nth-child(14) {
      order: 19;
    }
    &:nth-child(10) {
      order: 16;
    }
    &:nth-child(20) {
      order: 15;
    }
    &:nth-child(19) {
      order: 14;
    }
    &:nth-child(7) {
      order: 13;
    }
    &:nth-child(8) {
      order: 12;
    }
    &:nth-child(9) {
      order: 11;
    }
    &:nth-child(13) {
      order: 10;
    }
    &:nth-child(12) {
      order: 9;
    }
    &:nth-child(4) {
      order: 8;
    }
    &:nth-child(5) {
      order: 7;
    }
    &:nth-child(6) {
      order: 6;
    }
    &:nth-child(16) {
      order: 5;
    }
    &:nth-child(15) {
      order: 4;
    }
    &:nth-child(1) {
      order: 3;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 1;
    }
  }

  // ========== btn operation ==========
  &__btn--operation {
    background-color: v.$color-feldgrau;

    & > i {
      pointer-events: none;
    }
  }
}
