@use '../base/variables' as v;
@use '../base/mixins' as m;

.m-history {
  width: 311px;
  height: 250px;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 24px;
  padding-left: 5px;

  overflow-y: scroll;

  @include m.media('lg') {
    max-height: 140px;
  }

  &::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
  }

  &__row {
    height: 35px;
    display: flex;
    align-items: center;
    position: relative;

    font-weight: 600;

    &::before {
      width: calc(311px - 20px);
      height: 1px;
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;

      background-color: v.$color-feldgrau-35;
    }
  }
  &__anchor {
    height: 90%;
    position: relative;
    left: -8px;
    flex-basis: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  &__img-anchor {
    width: 14px;
  }
  &__operation {
    flex-basis: 30%;
  }
  &__result {
    flex: 1;

    text-align: right;
  }
}
